<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="KurnazNakliyat" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=KurnazNakliyat;Integrated Security=True"
			providerName="System.Data.SqlClient" />
  </connectionStrings>


  <!--<connectionStrings>
    <add name="KurnazNakliyat" connectionString="Data Source=.\MSSQLSERVER2014; Initial Catalog=kurnazna_kliyat;Persist Security Info=False; User ID=kurnazna_kliyat; Password=Pl72k^m5" />
  </connectionStrings>-->


  <system.web>

    <!--projeyi yayınlarken mode="RemoteOnly" yapman gerekiyor.-->

    <!--<customErrors mode="Off"  defaultRedirect="Hata.aspx">

			<error statusCode="404" redirect="404SayfaYok.aspx"/>
			<error statusCode="500" redirect="404SayfaYok.aspx"/>
		</customErrors>-->




    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">

      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <remove statusCode="403"/>

      <error statusCode="404" path="404SayfaYok.aspx" responseMode="Redirect"/>
      <error statusCode="500" path="500Hata.aspx" responseMode="Redirect"/>
      <error statusCode="403" path="403Hata.aspx" responseMode="Redirect"/>

    </httpErrors>
  </system.webServer>
</configuration>
